body{
   background-color: dodgerblue; 
}
div{
    margin-top: 50px;
}
.image-section{
    text-align: center;
    display: flex;
    justify-content: center;
}
.style-section{
    background-color:dodgerblue;
    margin-left: 25px;
    margin-right: 25px;

}
h4{
    text-align: center;
}
h1{
    text-align: center;
}